.reader-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.bg {
    width: 300px;
    height: 80px;
    background-repeat: no-repeat;
}
.search-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-nav {
    display: flex;
    height: 64px;
    align-items: center;
}
.grow {
    flex-grow: 1;
}